*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
dist/
build/
.coverage
coverage.xml
nosetests.xml

# Developer/IDE files
*.swp
[Bb]uild/
.idea
.settings/
.project
.pydevproject
.conflict

# OS Files
.DS_Store
Thumbs.db
